@charset "utf-8";
/* CSS Document */
        body {
            font-family: 'Open Sans', sans-serif;
            padding-top: 0px;
            line-height: 1.8;
            color: #818181;
        }


        h1 {
            font-family: 'Racing Sans One', cursive;
            font-size: 48px;
            text-transform: uppercase;
            color: #303030;
            font-weight: 600;
            margin: 10px 10px 20px 10px;
        }

        h2, h3, h4, p {
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 30px;
			
        }

        .jumbotron {
            font-family: 'Racing Sans One', cursive;
            background-color: #252120;
            color: #fff;
            padding: 100px 25px;
        }

        .container-fluid {
            padding: 30px 50px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .logo {
            color: #f4511e;
            font-size: 200px;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

        .thumbnail img {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
        }

        .carousel-inner img {
            -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
            /* make all photos black and white */
            width: 100%;
            /* Set width to 100% */
            margin: auto;
        }

        .carousel-caption h3 {
            color: #fff !important;
        }

        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
                /* Hide the carousel text when the screen is less than 600 pixels wide */
            }
        }

        .carousel-control.right,
        .carousel-control.left {
            background-image: none;
            color: #f4511e;
        }

        .carousel-indicators li {
            border-color: #f4511e;
        }

        .carousel-indicators li.active {
            background-color: #f4511e;
        }

        .item h4 {
            font-size: 19px;
            line-height: 1.375em;
            font-weight: 400;
            font-style: italic;
            margin: 70px 0;
        }

        .item span {
            font-style: normal;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #252120;
            z-index: 9999;
            border: 0;
            font-size: 18px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
            font-family: 'Racing Sans One', cursive;
            opacity: 0.9;
        }

        .navbar li a,
        .navbar .navbar-brand {
            color: #fff !important;
        }

        .navbar-nav li a:hover,
        .navbar-nav li.active a {
            color: #000 !important;
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }

        .open .dropdown-toggle {
            color: #fff;
            background-color: #555 !important;
        }

        .dropdown-menu li a {
            color: #000 !important;
        }

        .dropdown-menu li a:hover {
            background-color: red !important;
        }

        .btn {
            padding: 10px 20px ;
            background-color: #333;
            color: #f1f1f1;
            border-radius: 0;
            transition: .2s;
			
        }

        .btn:hover,
        .btn:focus {
            border: 1px solid #333;
            background-color: #fff;
            color: #000;
        }

        footer .glyphicon {
            font-size: 20px;
            margin-bottom: 20px;
            color: #f4511e;
        }

        .slideanim {
            visibility: hidden;
        }

        .slide {
            animation-name: slide;
            -webkit-animation-name: slide;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            visibility: visible;
        }

        #googleMap {
            width: 100%;
            height: 400px;
            -webkit-filter: grayscale(30%);
            filter: grayscale(30%);
        }

        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
                /* Hide the carousel text when the screen is less than 600 pixels wide */
            }
        }

        @keyframes slide {
            0% {
                opacity: 0;
                transform: translateY(70%);
            }
            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        @-webkit-keyframes slide {
            0% {
                opacity: 0;
                -webkit-transform: translateY(70%);
            }
            100% {
                opacity: 1;
                -webkit-transform: translateY(0%);
            }
        }

        @media screen and (max-width: 768px) {
            .col-sm-4 {
                text-align: center;
                margin: 25px 0;
            }
            .btn-lg {
                width: 100%;
                margin-bottom: 35px;
            }
        }

        @media screen and (max-width: 480px) {
            .logo {
                font-size: 150px;
            }
        }

        .parallax-window {
            min-height: 400px;
            background: transparent;
        }

        .navbar-brand {
            padding: 0px;
            /* firefox bug fix */
        }

        .navbar-brand>img {
            height: 200%;
            padding: 0px 0px;
            /* firefox bug fix */
            width: auto;
        }
		
		.parallax {
    /* The image used */
    background-image: url('Images/team.jpg');

    /* Full height */
    height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: calc(50%) calc(0%);
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	width: 100%;
			/* Effects */
	-webkit-filter: grayscale(60%);
            filter: grayscale(60%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: auto;
}
		